/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,100&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
        --light-green:rgb(104, 242, 171);
        --light-gray:rgb(242, 242, 242);
        --font-family:'Raleway', sans-serif;
}
i{
    color:var(--light-green);
}
a{
    text-decoration: none;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4rem;
    color:var(--light-green);
}
.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 1rem 2rem;
    background-color:var(--light-gray);
}

.h22{
    text-align: center;
    color: var(--light-green);
    font-size: 2em;
    padding-bottom: 0.5em;
    font-family: 'Raleway', sans-serif;
}
.para{
    text-align: center;
    padding: 0.5rem;
    padding-bottom: 4em;
    max-width: 70%; 
    font-size: 1.1rem;
    font-family: var(--font-family);
}
.container-row{
    align-items: center;
    display:flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0 1rem;  
     transform:translateY(0px);
    transition: all 0.5s ease-in-out; 
}
.container-row:hover{
    transform:translateY(-10px);
    transition: all 0.5s ease-in-out;
}
h3{
    padding-top: 1rem;
    font-family: var(--font-family);
}
.para1{
    text-align: center;
    max-width: 60%;
    padding-left: 1rem;
    font-size: 1.1rem;
    padding-top: 1rem; 
    font-family: var(--font-family);
}
.row-2{
    box-shadow: 3px 5px 5px var(--light-gray);
}
.difficult{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h11{
    align-items: center;
    font-size: 5.5em;
    font-family: var(--font-family);
    color: var(--light-gray);
}
.para2{
    align-items: center;
    font-size: 1.1rem;
    margin-top: -2rem;
    font-family: var(--font-family);
}
.design{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-family: var(--font-family);
     transition:all 0.1s linear;
      
}
.design:hover{
    font-size:1.2em;
    transition:all 0.1s linear;
}
.part1{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    padding: 0 1rem;
    
}
.row-3{
    align-self: flex-start;
    padding-top: 1rem;
}
.picture{
    display: flex;
    justify-content: center;
    padding: 4rem 0;
   
}
.image1{
     height: 200px;
    width: 200px; 
}

.image{
    height: 200px;
    width: 200px;
    transition:all 0.2s ease;
}
.image:hover{
     height: 210px;
     width: 210px;
     transition:all 0.2s ease;
}

.border{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 230px;
    width: 60px;
    margin-top: -1rem;
    margin-left: -2rem;
    z-index: -1;
 
}
.section-3{
    background: var(--light-gray);
}

.h12{
    align-items: center;
    font-size: 5.5em;
    font-family: var(--font-family);
    color:rgb(225, 225, 225);
}
.pubg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.pubg h2{
    padding-top: 1rem;
}
.pubg p{
    padding-top: 1rem;
    max-width: 40%;
}
.background-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}
.line{
 
    background-color: var(--light-gray);
    height: 230px;
    width: 60px;
    margin-top: -13.5rem;
    margin-left: -8.6rem;
    z-index: -1; 
}
.inline{
    background-color: var(--light-green);
    height: 150px;
    width: 60px;
    margin-right: -11rem;
    margin-top: -14rem;
    z-index: -1;
    
}
.outline{
    background-color: var(--light-green);
    height: 40px;
    width: 150px;
    margin-right: -10rem;
    z-index: -1;
    
}
.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tech p{
    max-width: 55%;
}

.tech .hr{
    font-weight: 800;
    
}
.tech .ur{
    margin-bottom: 1rem;
}

.horizontal{
    background-color: var(--light-green);
    width: 150px;
    height: 3px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

footer{
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .difficult{
    margin-bottom: 2rem;
}

.finish{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finish h1{
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.finish .gmail{
    color: var(--light-green);
}
.network{
    display: flex;
    flex-direction: row;
    justify-content: center;  

}

.network p{
    padding: 1rem 1rem;
}
.network a{
    padding: 1rem 0;
    padding-left: 0.5rem;
}

@media (min-width: 770px) {
    .section-1{
        display: flex;
        flex-direction: row;
    }
    .part1{
        max-width: 70%;
    }
    .inner-row{
        display: flex;
        flex-direction: row;
        
    }
    .section-2{
        display: flex;
        flex-direction: row;
    }
    .pubg-player{
        display: flex;
        flex-direction: row;
    }

    .pubg p{
        max-width: 60%;
        align-items: center;
        margin-bottom: 1rem;
    }
    .pubg h2{
        margin-left: -4.5rem;
    }
    .maintain{
        display: flex;
        flex-direction: row;
    }
    .background-add{
        margin: 0 6rem;
        margin-bottom: 1rem;
    }
    .tech{
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .tech p{
        max-width: 80%;
    }
    .finish{
        margin-left: -8rem;
    }
    .network{
        display: flex;
        flex-direction: row;
        margin-left: -8rem;
    }
}